.container-contain hr {
      color: #2cb67d;
  }

  .toolbar {
    padding: 8px 25px;
    text-align: center;
  }
  
  .toolbar a {
    text-decoration: none;
    color: #2cb67d;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  .container-contain {
    justify-content: center;
  }

  .tilt {
    display: inline-block;
    color: #969696;
    padding: 50px 0;
  }
  
  .tilt h6 {
    padding: 10px 0;
  }

  .row {
    padding: 30px 100px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    color: #2cb67d;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }