/* Rectangle 13 */

.container-contain {
    display: flex;
  }

.sidebar {
    width: 273px;
    height: 100vh;
    left: 0px;
    background: #2aba86;
}

.sidebar a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
}

.sidebar-text {
    padding-left: 10px;
}

.img-upload {
    /* Rectangle 46 */

    box-sizing: border-box;

    width: 296px;
    height: 396px;
    left: 71px;
    top: 133px;

    background: #dcdcdc;
    border: 1px solid #2aba86;
    border-radius: 11px;
    padding-top: 10px;
    padding-left: 10px;
}

.img-text {
    border: 2px solid #2aba86;
    border-radius: 11px;
    width: 97%;
    height: 97%;
    padding-top: 115px;
    padding-left: 25px;
}

.dasbor-tittle {
    color: #2aba86;
    font-size: 40px;
    border: 1px solid #2aba86;
    border-bottom: 2px solid #2aba86;
    padding-left: 300px;
}

.form-control {
    background-color: #dcdcdc;
    border-bottom: 2px solid #2aba86;
    width: 80%;
}

.img-upload label {
    color: #2aba86;
}

