  
  body {
    background-image: url("/images/background.jpg");
    background-size: 100%;
  }

  .container-contain {
    padding: 20px;
    width: 60%;
  }
  
  .hero img {
    width: 225px;
  }
  
  h6 {
    display: inline-block;
    color: #2cb67d;
    margin: 20px 0;
    padding-left: 5px;
  }
  
  .tagline a {
    padding: 5px 10px;
    text-decoration: none;
    color: #2cb67d;
    border: 1px solid #2cb67d;
    border-radius: 20px;
    font-size: 13px;
    transition: .2s ease;
  }
  
  .tagline a:hover {
    color: white;
    background-color: #2cb67d;
  }
