  
  body {
    background-image: url("/images/bg.jpg");
    background-size: 100%;
  }

  .container-contain {
    padding: 20px;
    width: 60%;
  }
  
  .hero img {
    width: 225px;
  }
  
  h6 {
    display: inline-block;
    color: #2cb67d;
    margin: 20px 0;
    padding-left: 5px;
  }
  
  .tagline a {
    padding: 5px 10px;
    text-decoration: none;
    color: #2cb67d;
    border: 1px solid #2cb67d;
    border-radius: 20px;
    font-size: 13px;
    transition: .2s ease;
  }
  
  .tagline a:hover {
    color: white;
    background-color: #2cb67d;
  }
  
  .search-bar {
    display: flex;
    border: none;
    border-radius: 5px;
    box-shadow:  0 .5rem 1rem rgba(0, 0, 0, .15);

  }
  
  .search-bar #search-column {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .search-bar input {
    outline: none;
  }
  
  .search-bar button{
    color: white;
    background-color: #2cb67d;
    padding: 0 15px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .2s ease;
  }
  
  .search-bar button:hover {
    background-color: #1f7d56;
  }
