* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2cb67d;
    background-size: 100%;
    background-position: 0 45px;
}

.main {
  padding-top: 40px;
}

.main h1 {
    text-align: center;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
}

.main h5 {
    text-align: center;
    color: #fff;
    padding: 5px 10px;
}

.header {
  margin: 50px 0;
}

.shape {
    width: 100%;
    min-height: 0px;
}

.lingkaran {
  display: flex;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 2px solid white;
    border-radius: 100%;
}

.garis {
    width: 300px;
    height: 8px;
    background: #fff;
    margin: auto -1px;
}

.footer {
  margin: 100px 0;
    text-align: center;
}

.footer h6 {
    text-decoration: none;
    color: #fff;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
