body {
    background-image: url("/images/bg.jpg");
    background-size: 100%;
  }

.cancel {
    display: flex;
    justify-content: end;
    color: #2ABA86;
    padding: 0 50px;
}

.hero {
    margin-left: 350px;
    margin-top: 50px;
}

.container-contain{
    max-width: 400px;
    margin: 20px 200px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #2ABA86;
    padding: 25px;
    padding-bottom: 10px;
}

