@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body

{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: #2aba86;
}

footer

{
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social_icons

{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icons li

{
    list-style: none;
}

footer .social_icons li a

{
    font-size: 2em;
    color: #000;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5%;
}

footer .social_icons li a:hover

{
    transform: translateY(-10px);
}